{% extends "CitiesBundle::layout.html.twig" %}

{% block stylesheets_custom %}
    {% stylesheets
    'bundles/cities/css/gmaps.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_content %}
    <div class="col-sm-12">
        <h1>Home Cities Project WIP</h1>
    </div>
    <div class="col-sm-12">
        <div id="gmaps" class="google-maps"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}">
    </script>
    {% javascripts
    '@CitiesBundle/Resources/public/js/home_maps.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
{% block vars_js %}
    var base_url = '{{ app.request.getSchemeAndHttpHost() }}';
    var domain_url = '{{ app.request.getBaseURL() }}';
    var json_villes = '{{ (villes|json_encode|raw) }}';
{% endblock vars_js %}
