<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <button id="menu-hide" type="button" class="btn btn-secondary pull-right" aria-label="Left Align">
            <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
        </button>
    </li>
    <li>
        <a href="{{ url("cities_regions") }}">
            Liste des regions
        </a>
    </li>
    <li>
        <a href="{{ url("cities_departements") }}">
            Liste des départements
        </a>
    </li>
    <li>
        <a href="{{ url("cities_villes") }}">
            Liste des villes
        </a>
    </li>
    <li>
        <a href="{{ url("register") }}">
            Inscription
        </a>
    </li>
    {% if app.user %}
        <li>
            <a href="{{ url("logout") }}">
                Deconnexion
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ url("login") }}">
                Connexion
            </a>
        </li>
    {% endif %}
</ul>